<header class='page-header'>
  <div class='btn-toolbar pull-right'>
    <div class='btn-group'>
      <% admins_only do %>
        <%= link_to 'New Game', new_admin_game_path, class: 'at-new' %>
      <% end %>
    </div>
  </div>
  <h2>Games</h2>
</header>
<div class='table-responsive'>
  <table class='table table-striped table-condensed table-hover'>
    <thead>
      <tr>
        <th style='text-align: center'>Id</th>
        <th>Game</th>
        <th>Type</th>
        <th>Description</th>
        <th style='text-align: center'>Parent</th>
        <th>Price</th>
        <th style='text-align: right'>Volume</th>
        <th style='text-align: right'>Commission (in %)</th>
        <!-- add more columns for new/edit/delete -->
      </tr>
    </thead>
    <tbody>
      <% @games.order(:id).each do |game| %>
        <tr>
          <td align='center'><%= game.id %></td>
          <td><%= link_to game.name, game %></td>
          <td><%= game.type %></td>
          <td><%= truncate game.desc, length: 40 %></td>
          <td align='center'><%= game.parent %></td>
          <td><%= game.price %></td>
          <td align='right'><%= number_to_human game.volume %></td>
          <td align='right'><%= (game.commission * 100).to_i.to_s +
              '%' if game.commission %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
