<% title 'Games', @game.name %>
<header class='page-header'>
  <div class='btn-toolbar pull-right'>
    <div class='btn-group'>
      <%= link_to 'Edit Game', edit_game_path(@game), class: 'at-edit' %>
    </div>
    <div class='btn-group'>
      <%= link_to 'Delete Game', game_path(@game), method: :delete, class: 'at-delete',
          data: { confirm: 'Are you sure you want to delete this game?' } %>
    </div>
  </div>
  <h2>Game <small><%= @game.name %></small></h2>
</header>
<dl class='dl-horizontal'>
  <% Game.column_names.each do |column| %>
    <% next if %W{ created_at updated_at }.include? column %>
    <dt><%= column %></dt><dd><%= @game[column] %></dd>
  <% end %>
</dl>
<header class='page-header'>
  <div class='btn-toolbar pull-right'>
    <div class='btn-group'>
      <%= link_to 'New Category', new_game_category_path(@game), class: 'at-new' %>
    </div>
  </div>
  <h3>Categories</h3>
</header>
