<div class='col-md-6'>
  <%= form_for [agent, terminal], html: { class: 'form-horizontal' } do |f| %>
    <!-- show errors -->
    <% if terminal.errors.any? %>
      <div id='error_explanation' class='alert alert-danger'>
        <h4><%= pluralize(terminal.errors.count, 'error') %>
          prohibited this terminal from being saved:</h4>
        <ul>
          <% terminal.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class='form-group'>
      <%= f.label :id, class: 'control-label col-md-2' %>
      <div class='col-md-10'>
        <%= f.number_field :id, id: 'id', class: 'no-spinner form-control',
            required: "required",
            min: '100000', max: '999999', step: '1', placeholder: 'Unique int identifier' %>
      </div>
    </div>
    <div class='form-group'>
      <%= f.label :name, class: 'control-label col-md-2' %>
      <div class='col-md-10'>
        <%= f.text_field :name, id: 'name', class: 'form-control', placeholder: 'Name of the POS' %>
      </div>
    </div>
    <div class='form-group'>
      <%= f.label :city, class: 'control-label col-md-2' %>
      <div class='col-md-10'>
        <%= f.text_field :city, id: 'city', class: 'form-control', placeholder: 'City', 
            required: "required" %>
      </div>
    </div>
    <div class='form-group'>
      <%= f.label :address, class: 'control-label col-md-2' %>
      <div class='col-md-10'>
        <%= f.text_field :address, id: 'address', class: 'form-control',
              placeholder: 'Street name, num.' %>
      </div>
    </div>
    <div class='form-group'>
      <%= f.label :tel, 'Telephone', class: 'control-label col-md-2' %>
      <div class='col-md-10'>
        <%= f.text_field :tel, id: 'tel', class: 'form-control', placeholder: 'Telephone numbers' %>
      </div>
    </div>

    <div class='form-group'>
      <%= f.label :lat, class: 'control-label col-md-2' %>
      <div class='col-md-10'>
        <%= f.number_field :lat, id: 'lat', class: 'no-spinner form-control', 
            placeholder: 'Latitude' %>
      </div>
    </div>
    <div class='form-group'>
      <%= f.label :lng, class: 'control-label col-md-2' %>
      <div class='col-md-10'>
        <%= f.number_field :lng, id: 'lng', class: 'no-spinner form-control', 
            placeholder: 'Longitude' %>
      </div>
    </div>

    <div class='form-group'>
      <div class='col-md-offset-2 col-md-10'>
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
<div id='map' class='col-md-6' style='height: 500px; width: 500px;'>
</div>
