<header class='page-header'>
  <div class='btn-toolbar pull-right'>
    <div class='btn-group'>
      <%= link_to 'Edit User', [:edit, :admin, @user], class: 'at-edit' %>
    </div>
    <div class='btn-group'>
      <%= link_to 'Archive User', [:archive, :admin, @user], class: 'at-archive',
          method: :patch, 
          data: { confirm: 'Are you sure you want to archive this user?' } %>
    </div>
  </div>
 <h2>User <small><%= @user.email %></small></h2> 
</header>

<dl class='dl-horizontal'>
  <% User.column_names.each do |column| %>
    <dt><%= column %></dt><dd id='<%= column %>'><%= @user[column] %></dd>
  <% end %>
</dl>
